# Spark API Mini Exercises
*****************************
Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [9]:
# i. Use the starter code above to create a pandas dataframe.
import pandas as pd
import numpy as np

np.random.seed(13)

spkmini = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

## 1. Spark Dataframe Basics

  i. Use the starter code above to create a pandas dataframe.
  
  ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
  
 iii. Show the first 3 rows of the dataframe.
 
 iv.  Show the first 7 rows of the dataframe.
 
  v.  View a summary of the data using .describe.
  
 vi.  Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
 
 vii. Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
 
viii. Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

ix.  Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [10]:
spkmini

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [6]:
import pyspark

In [11]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [13]:
# ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work 
# with the spark dataframe, not the pandas dataframe.
spkmini = spark.createDataFrame(spkmini)

In [14]:
# iii. Show the first 3 rows of the dataframe.
spkmini.head(5)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False),
 Row(n=-0.044503078338053455, group='z', abool=False),
 Row(n=0.45181233874578974, group='y', abool=False),
 Row(n=1.3451017084510097, group='z', abool=False)]

In [15]:
# iv. Show the first 7 rows of the dataframe.
spkmini.head(7)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False),
 Row(n=-0.044503078338053455, group='z', abool=False),
 Row(n=0.45181233874578974, group='y', abool=False),
 Row(n=1.3451017084510097, group='z', abool=False),
 Row(n=0.5323378882945463, group='y', abool=False),
 Row(n=1.3501878997225267, group='z', abool=False)]

In [ ]:
# v. View a summary of the data using .describe.