# Spark API Mini Exercises
*****************************
Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [32]:
# i. Use the starter code above to create a pandas dataframe.
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

## 1. Spark Dataframe Basics

  i. Use the starter code above to create a pandas dataframe.
  
  ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
  
 iii. Show the first 3 rows of the dataframe.
 
 iv.  Show the first 7 rows of the dataframe.
 
  v.  View a summary of the data using .describe.
  
 vi.  Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
 
 vii. Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
 
viii. Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

ix.  Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [33]:
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [6]:
import pyspark

In [11]:
#spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [34]:
# ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work 
# with the spark dataframe, not the pandas dataframe.
df = spark.createDataFrame(pandas_dataframe)
# df = spark.createDataFrame(pandas_dataframe)

In [35]:
# iii. Show the first 3 rows of the dataframe.
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [36]:
# iv. Show the first 7 rows of the dataframe.
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [37]:
# v. View a summary of the data using .describe.
# spkmini.select('n', 'group', 'abool').describe()
df.describe().show()
# Note that .describe returns another dataframe, so we still have to do .show at the end.

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [38]:
# vi. Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows 
# of this dataframe.
df.select('n', 'abool').show(5)
# df.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [39]:
# vii. Use .select to create a new dataframe with just the group and abool columns. View the first 
# 5 rows of this dataframe.
df.select('group', 'abool').show(5)
# df.select('group', 'abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [41]:
# viii. Use .select to create a new dataframe with the group column and the abool column renamed to 
# a_boolean_value. Show the first 3 rows of this dataframe.
df.select('group', df.abool.alias('a_boolean_value')).show(3)
# df.select('group', df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [42]:
# ix. Use .select to create a new dataframe with the group column and the n column renamed to 
# a_numeric_value. Show the first 6 rows of this dataframe.
from pyspark.sql.functions import col

df.select('group', col('n').alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

### 2. Column Manipulation

i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

ii. Use .select to add 4 to the n column. Show the results.

In [30]:
# df = spark.createDataFrame(spkmini)

TypeError: data is already a DataFrame

In [43]:
# ii. Use .select to add 4 to the n column. Show the results.
df.select('n', df.n + 4).show()

+--------------------+------------------+
|                   n|           (n + 4)|
+--------------------+------------------+
|  -0.712390662050588|3.2876093379494122|
|   0.753766378659703| 4.753766378659703|
|-0.04450307833805...|3.9554969216619464|
| 0.45181233874578974|  4.45181233874579|
|  1.3451017084510097|5.3451017084510095|
|  0.5323378882945463| 4.532337888294546|
|  1.3501878997225267| 5.350187899722527|
|  0.8612113741693206|  4.86121137416932|
|  1.4786857374358966| 5.478685737435897|
| -1.0453771305385342| 2.954622869461466|
| -0.7889890249515489|3.2110109750484512|
|  -1.261605945319069| 2.738394054680931|
|  0.5628467852810314| 4.562846785281032|
|-0.24332625188556253|3.7566737481144377|
|  0.9137407048596775| 4.913740704859677|
| 0.31735092273633597| 4.317350922736336|
| 0.12730328020698067| 4.127303280206981|
|  2.1503829673811126| 6.150382967381113|
|  0.6062886568962988| 4.606288656896298|
|-0.02677164998644...|3.9732283500135592|
+--------------------+------------------+

In [44]:
# iii. Subtract 5 from the n column and view the results.
df.select('n', df.n - 5).show()

+--------------------+-------------------+
|                   n|            (n - 5)|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
|  0.5323378882945463| -4.467662111705454|
|  1.3501878997225267|-3.6498121002774733|
|  0.8612113741693206|  -4.13878862583068|
|  1.4786857374358966| -3.521314262564103|
| -1.0453771305385342| -6.045377130538534|
| -0.7889890249515489| -5.788989024951549|
|  -1.261605945319069| -6.261605945319069|
|  0.5628467852810314| -4.437153214718968|
|-0.24332625188556253| -5.243326251885563|
|  0.9137407048596775| -4.086259295140323|
| 0.31735092273633597| -4.682649077263664|
| 0.12730328020698067| -4.872696719793019|
|  2.1503829673811126|-2.8496170326188874|
|  0.6062886568962988| -4.393711343103702|
|-0.02677164998644...| -5.026771649986441|
+--------------------+-------------------+

In [45]:
# iv. Multiply the n column by 2. View the results along with the original numbers.
df.select('n', df.n * 5).show()

+--------------------+--------------------+
|                   n|             (n * 5)|
+--------------------+--------------------+
|  -0.712390662050588| -3.5619533102529397|
|   0.753766378659703|  3.7688318932985148|
|-0.04450307833805...|-0.22251539169026727|
| 0.45181233874578974|   2.259061693728949|
|  1.3451017084510097|  6.7255085422550485|
|  0.5323378882945463|  2.6616894414727317|
|  1.3501878997225267|   6.750939498612634|
|  0.8612113741693206|   4.306056870846603|
|  1.4786857374358966|   7.393428687179483|
| -1.0453771305385342|  -5.226885652692671|
| -0.7889890249515489| -3.9449451247577443|
|  -1.261605945319069|  -6.308029726595345|
|  0.5628467852810314|   2.814233926405157|
|-0.24332625188556253| -1.2166312594278126|
|  0.9137407048596775|   4.568703524298387|
| 0.31735092273633597|    1.58675461368168|
| 0.12730328020698067|  0.6365164010349034|
|  2.1503829673811126|  10.751914836905563|
|  0.6062886568962988|  3.0314432844814942|
|-0.02677164998644...|-0.13385824993220363|
+--------------------+--------------------+

In [46]:
# v. Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your 
# dataframe. You should see the original n value as well as n2.
df = df.select('*', (df.n * -1).alias('n2'))
df.show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

In [47]:
# vi. Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. 
# You should see both n, n2, and n3.
df = df.select('*', (df.n * df.n).alias('n3'))
df.show(5)

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|
+--------------------+-----+-----+--------------------+--------------------+
only showing top 5 rows

In [48]:
# vii. What happens when you run the code below?
df.group + df.abool
# A Column object is produced that represents the 
# transformation of adding together the group and abool columns.

Column<'(group + abool)'>

In [49]:
# viii. What happens when you run the code below? What is the difference between this and the previous 
# code sample?
df.select(df.group + df.abool)
# An error is produced referencing the incompatible types. Unlike the previous code sample, this one 
# is done within the context of a .select, so even though there are still no values produced 
# (we haven't invoked an action yet), spark is aware that the types are incompatible.

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#505 as double) + abool#506), Some(org.apache.spark.sql.Column$$Lambda$3275/0x00000008012cb040@6eda7f0f))]
+- Project [n#504, group#505, abool#506, n2#820, (n#504 * n#504) AS n3#842]
   +- Project [n#504, group#505, abool#506, (n#504 * cast(-1 as double)) AS n2#820]
      +- LogicalRDD [n#504, group#505, abool#506], false

### 3. Type casting

i. Use the starter code above to re-create a spark dataframe.

ii. Use .printSchema to view the datatypes in your dataframe.

In [50]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)
 |-- n2: double (nullable = true)
 |-- n3: double (nullable = true)

In [51]:
# iii. Use .dtypes to view the datatypes in your dataframe.
df.dtypes

[('n', 'double'),
 ('group', 'string'),
 ('abool', 'boolean'),
 ('n2', 'double'),
 ('n3', 'double')]

In [52]:
# iv. What is the difference between the two code samples below?
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [53]:
df.select(df.abool.cast('int')).show()
# One is a creating a Column and one is using that same column in a .select in order to view the 
# results of the cast.

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [54]:
# v. Use .select and .cast to convert the abool column to an integer type. View the results.
df.select('abool', df.abool.cast('int')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
|false|    0|
| true|    1|
+-----+-----+

In [55]:
# vi. Convert the group column to a integer data type and view the results. What happens?
df.select('group', df.group.cast('int')).show()
# The values are converted to nulls.

+-----+-----+
|group|group|
+-----+-----+
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    z| null|
|    y| null|
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    y| null|
|    y| null|
|    y| null|
|    y| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    x| null|
+-----+-----+

In [56]:
# vii. Convert the n column to a integer data type and view the results. What happens?
df.select('n', df.n.cast('int')).show()

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  -0.712390662050588|  0|
|   0.753766378659703|  0|
|-0.04450307833805...|  0|
| 0.45181233874578974|  0|
|  1.3451017084510097|  1|
|  0.5323378882945463|  0|
|  1.3501878997225267|  1|
|  0.8612113741693206|  0|
|  1.4786857374358966|  1|
| -1.0453771305385342| -1|
| -0.7889890249515489|  0|
|  -1.261605945319069| -1|
|  0.5628467852810314|  0|
|-0.24332625188556253|  0|
|  0.9137407048596775|  0|
| 0.31735092273633597|  0|
| 0.12730328020698067|  0|
|  2.1503829673811126|  2|
|  0.6062886568962988|  0|
|-0.02677164998644...|  0|
+--------------------+---+

In [57]:
# viii. Convert the abool column to a string data type and view the results. What happens?
df.select('abool', df.abool.cast('string')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
|false|false|
| true| true|
|false|false|
| true| true|
+-----+-----+